---
layout: default
title: 你改变了时间，也受到了时间的报复
pagination:
  enabled: true
---

{% for post in paginator.posts %}
<article class="post">

<hr />
    <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

    <div class="entry">
    {{ post.excerpt }}
    </div>

    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读全文</a>
</article>
{% endfor %}

<hr >
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      上一页
    </a>
  {% else %}
    <span class="previous">上一页</span>
  {% endif %}
  <span class="page_number ">
    {{ paginator.page }} / {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>