---
layout: default
comments: true
---

<article class="post">
  <h1 style="color:darkcyan;font-size:40px">{{ page.title }}</h1>

  <div class="date">
      {{ page.date | date: "%Y-%m-%d" }}
    </div>
    <hr />
  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <hr />
  <div class="entry">
    如果你喜欢，请赞赏！
    <img width="30%" src="/images/post/davelet.png" alt="davelet" />
  </div>
  {% include disqus.html %}
</article>
